.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.upload-box{
    width: 600px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    border: 4px dashed grey;
    border-radius: 8px;
    background-color: #1F1F1F;
    font-family: sans-serif;
    text-align: center;
}

.upload-box:hover{
    border-color: #aaa;
}

.upload-text{
    font-size: 1.2em;
}

input[type="file"]{
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    cursor: pointer;
}

.uploaded-image-box{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;

    img{
        max-width: 100%;
        max-height: 100%;
        display: block;
        object-fit: contain;
    }
}

.sample-image-container{
    display: grid;
    width: 600px;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.image-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border: 2px solid grey;
    border-radius: 8px;
    background-color: #1F1F1F;

    img {
        max-width: 100%;
        max-height: 100%;
        display: block;
        height: auto;
        width: auto;
    }
}