@if (isDragDropEnabled()) {
  <div class="frame-content" [style.border]="customBorder()" appFileDragAndDrop>
    <ng-container *ngTemplateOutlet="frameContent" />
  </div>
} @else {
  <div class="frame-content" [style.border]="customBorder()">
    <ng-container *ngTemplateOutlet="frameContent" />
  </div>
}

<ng-template #frameContent>
  <ng-content></ng-content>

  @if (isLoading()) {
    <div class="loading-overlay">
      <p>Loading...</p>
    </div>
  } @else if (errorMessage()) {
    <div class="error-overlay">
      <span>Failed</span>
    </div>
  }

  @if (showRetry()) {
    <button 
        mat-icon-button 
        aria-label="Retry dialog" 
        class="retry-button"
        (click)="onRetry()"
    >
        <mat-icon>refresh</mat-icon>
    </button>
  }

</ng-template>