.frame-content {
    width: 100%;
    min-width: 200px;
    max-width: 1000px;

    height: min(50vh, 500px);
    min-height: 100px;
    max-height: 500px;

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1F1F1F;

    border: 4px solid grey;
    border-radius: 8px;

    padding: 10px;
}

.loading-overlay, .error-overlay{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error-overlay{
    color: red;
}