.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.contents{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    max-width: 1000px;
}

app-image-frame{
    width: 100%;
}

canvas{
    max-width: 100%;
    max-height: 100%;
    display: block;
    height: 100%;
    width: 100%;
    image-rendering: pixelated;
    object-fit: contain;
}

.loading-overlay{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-box{
    width: 100%;
    min-height: 60px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #1F1F1F;
    border: 4px solid grey;
    border: 4px solid grey;
    border-radius: 8px;

    padding: 5px;
}

.button-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}