.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.contents{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    max-width: 1000px;
}

.image-box{
    width: 100%;
    min-width: 200px;
    max-width: 1000px;

    height: min(50vh, 500px);
    min-height: 100px;
    max-height: 500px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1F1F1F;

    border: 4px solid grey;
    border-radius: 8px;

    padding: 5px;
}

canvas{
    max-width: 100%; // TODO fix (doesn't work when height is bigger than width)
    max-height: 100%;
    display: block;
    height: 100%;
    width: auto;
    image-rendering: pixelated;
}