<section class="container">
    <div class="contents">
        <app-image-frame 
            class="image-frame"
            [isLoading]="isLoading()"
            [showTextBox]="true"
            [errorMessage]="errorMessage()"
        >
            <canvas #canvas></canvas>
        </app-image-frame>
        <div class="text-box">
            @if(isLoading()){
                <p>Loading...</p>
            }
            @else if (errorMessage()) {
                <span style="color: red">{{errorMessage()}}</span>
            }
            @else if(imageRescale?.scaledImageBitmap?.height == imageRescale?.oldHeight && imageRescale?.scaledImageBitmap?.width == imageRescale?.oldWidth){
                <span>
                    The image kept its original size '<b>{{imageRescale?.oldWidth}}x{{imageRescale?.oldHeight}}</b>'
                </span>
            } @else {
                <span>
                    The image has been resized from size '<b>{{imageRescale?.oldWidth}}x{{imageRescale?.oldHeight}}</b>' to '<b>{{imageRescale?.scaledImageBitmap?.width}}x{{imageRescale?.scaledImageBitmap?.height}}</b>'
                </span>
            }
        </div>
        <div class="button-container">
            <div class="back-button-box">
                <button 
                    matButton="filled"
                    matStepperPrevious
                    class="light-scheme-button"
                >
                    &larr; Back
                </button>
            </div>
            <div class="next-button-box">
                <button 
                    matButton="filled"
                    matStepperNext
                    [disabled]="isNextButtonDisabled()"
                    class="light-scheme-button"
                >
                    Normalize Image &rarr;
                </button>
            </div>
        </div>
    </div>
</section>