<section class="container">
    <div class="contents">
        <div class="image-box">
            <canvas #canvas></canvas>
        </div>
        <div class="text-box">
            <span>Some text</span>
        </div>
        <div class="button-box">
            <button 
                matButton="filled"
                matStepperNext
                [disabled]="true"
                class="light-scheme-button"
            >
                Select Thread Colors &rarr;
            </button>
        </div>
    </div>
</section>