*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    color: white;
}

app-root{
    background-color: #09090B;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 50px;
}