mat-stepper{
    margin-top: 10px;
    height: 100%;
    overflow: hidden;
}

::ng-deep .mat-horizontal-stepper-wrapper,
::ng-deep .mat-horizontal-stepper-content-current,
::ng-deep .mat-horizontal-content-container {
    height: 100% !important;
}

.container{
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}