.card {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    max-height: 350px;
    border: 2px solid grey;
    border-radius: 10px;
}

.color-display {
    flex: 1;
    display: flex;
}

.color-display > div {
    flex: 1;
    height: 50px;
    border-bottom: 2px solid grey;
}

.color-display > div:first-child{
    border-right: 2px solid grey;
}

.color-original {
    background-color: blue;
}

.color-chosen {
    background-color: aqua;
}

.color-choice-container{
    padding: 10px;
    border-bottom: 1px solid grey;
    font-size: medium;
}

.color-list {
    flex: 4;
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow: auto;
}

mat-radio-group {
    display: flex;
    flex-direction: column;
}